# ============================
# 🔐 SUPABASE CONFIG
# ============================
SUPABASE_URL="AQUI_VA_LA_URL"
SUPABASE_ANON_KEY="AQUI_VA_LA_LLAVE_ANON"
SUPABASE_SERVICE_ROLE_KEY="AQUI_VA_LA_LLAVE_SERVICE_ROLE"


# ============================
# 🌐 SERVIDOR API
# ============================
PORT=3007
NODE_ENV=development

# Seguridad
JWT_SECRET=supersecreto123


# ============================
# 🌍 API DEL PROFE (vehículos)
# ============================
API_VEHICULOS_URL=https://apirecoleccion.gonzaloandreslucio.com/api/vehiculos

# Perfil fijo
PERFIL_ID=d1344313-5afa-40aa-b604-545ed54bd91b
